[user]
	name = Nistor Mihai
	email = Mihai.Nistor@sourcefabric.org
[core]
    autocrlf = input
[merge]
    tool = vimdiff

[color]
    diff = auto
    branch = auto
    status = auto
    interactive = auto

[diff]
    renames = true

[alias]
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    co = checkout
    cp = cherry-pick
    l = log
    ll = log -p
    lt = log trunk..
    llt = log -p trunk..
    lm = log master..
    llm = log -p master..
    b = branch
    plog = "log --pretty=\"%Cgreen%h%Creset – %Cred%ci%Creset – %s (%Cred%an%Creset)\""
    slog = "log --pretty=\"%Cgreen%h%Creset – %Cred%ci%Creset – %s (%Cred%an%Creset)\" HEAD~15..HEAD"
    undo = reset --soft HEAD^
    clear = !git clean -f & git checkout .

    b = "!f() { git fetch ${3-superdesk}; git checkout -b ${1} ${3-superdesk}/${2-master}; git push -u origin ${1}; }; f"
    db = "!f() { git branch -D ${1}; git push origin :${1}; }; f"
    lb = "!f() { git fetch liveblog; git checkout -b ${1} liveblog/${2-master}; git push -u origin ${1}; }; f"
    sb = "!f() { git fetch superdesk; git checkout -b ${1} superdesk/${2-master}; git push -u origin ${1}; }; f"
    update = "!f() { git fetch ${2}; git rebase -p ${2}/${1}; git push --force origin; }; f"
    upl = "!f() { git update ${1-master} liveblog; }; f"


    #from Haacked
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    save = !git add -A && git commit -m 'SAVEPOINT'
    wip = !git add -u && git commit -m "WIP" 
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"    

[push]
	default = matching
